<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- First use your local Thermo feed, then nuget.org -->
    <add key="thermo-local" value="third_party/thermo/Net8" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
